@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
   margin: 0px;
   padding: 0px;
   font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;

}

.navigasi {
   background-color: #1E201E;
   width: 100%;
   height: 50px;
   color: #EFEEEA;
   position: fixed;
}

.logo {
   padding-top: 10px;
   padding-bottom: 50px;
   padding-left: 20px;
   float: left;
   font-size: 12px;
}

.menu {
   margin-left: 570px;
   padding-top: 10px;
   
}

.menu ul li{
   list-style: none;
   display: inline-block;
   margin-right: 20px;
   font-size: 10px;
}

.menu ul li a {
   text-decoration: none;
   color: white;

}

.menu ul li a:hover {
   color: lightskyblue;
}

.banner {
   background-color: #3C3D37;
   height: 700px;
   text-align: left;
   color: #EFEEEA;
   padding-left: 150px;
}


.banner img{
   border-radius: 50px;
   height: 100px;
   margin-right: 0px;
   border: 2px solid black ;
   margin-top: 100px;
} 

.banner h1{
   margin-left: -22px;
}
.banner p {
   font-size: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
}

.banner button {
   margin-top: 10px;
   padding-top: 2px;
   padding-bottom: 2px;
   width: 100px;
   border-radius:100px;
}

.banner button:hover {
   background-color: lightskyblue;
   border: 1px solid black;
}

.describe {
margin-top: -100px;
text-align: center;
font-size: 12px !important;
padding-left: 150px;
padding-right: 50px;
}
.box-academy {
   text-align: center;
   color: #EFEEEA;
   align-content: center;
   background-color: #3C3D37;
}
.box-academy h1{
   margin-bottom: 15px;

}

.box-academy h3, p {
   margin-top: 2px;
   margin-bottom: 2px;
   padding-top: 0px;
   padding-left:2px ;
}

.box-academy img {
   width: 100px;
}

.box1, .box2, .box3, .box4 {
   font-size: 10px;
   width: 130px;
   height: 130px;
   background-color: #1E201E;
   text-align: center;
   padding-top: 30px;
   padding-right: 5px;
   padding-left: 5px;
   margin-top: 30px;
   margin-bottom: 20px;
   margin-left: 50px;
   margin-right: 30px;
   float: left;
   border-radius: 10px;
   box-shadow: 5px 5px 3px black;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover {
   background-color: #077A7D;
   color: black;
}

.Organization {
   text-align: center;
   color: #EFEEEA;
   align-content: center;
   background-color: #3C3D37;
   padding-top: 70px;
   margin: 0px auto ;
}

.footer {
   background-color: #1E201E;
   text-align: center;
   color: white;
   padding-top: 10px;
}

.footer img {
   width: 15px;
   height: 15px;
   padding-left: 15px;
   padding-top: 10px;
   padding-right: 15px;
   padding-bottom: 5px;
}

.footer img:hover {
   background-color: lightskyblue;
   
}

.cp {
font-size: 10px;
}